@media (max-width: 767px) {
    /* стили для xs-устройств */
    .cat {
        height: border-box;
        display: grid;
        grid-template-areas:
    "cat";
        position: relative;
    }

    .like {
        grid-area: cat;
        text-align: right;
        position: absolute;
        margin: 0.5vw;
        bottom: 0;
        right: 0;
    }

    .like img {
        width: 15vw;
        height: 15vw;
    }

    .like img:hover {
        cursor: pointer;
    }

    .common {
        grid-area: cat;
        height: 100%;
        width: 100%;
        max-width: 100vw;
        max-height: 70vh;
        position: relative;
        object-fit: fill;
        transform: scale(0.9);
    }

    .active {
        -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 1);
        -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 1);
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 1);
        grid-area: cat;
        height: 100%;
        width: 100%;
        max-width: 100vw;
        max-height: 50vh;
        position: relative;
        object-fit: fill;
        transform: scale(1.05);
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* стили для sm-устройств */
    .cat {
        height: border-box;
        display: grid;
        grid-template-areas:
    "cat";
        position: relative;
    }

    .like {
        grid-area: cat;
        text-align: right;
        position: absolute;
        margin: 0.5vw;
        bottom: 0;
        right: 0;
    }

    .like img {
        width: 3vw;
        height: 3vw;
    }

    .like img:hover {
        cursor: pointer;
    }

    .common {
        grid-area: cat;
        height: 100%;
        width: 100%;
        max-width: 50vw;
        position: relative;
        max-height: 35vh;
        object-fit: fill;
        transform: scale(0.9);
    }

    .active {
        -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 1);
        -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 1);
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 1);
        grid-area: cat;
        height: 100%;
        width: 100%;
        max-width: 50vw;
        position: relative;
        max-height: 35vh;
        object-fit: fill;
        transform: scale(1.05);
    }
}

@media (min-width: 991px) and (max-width: 1199px) {
    /* стили для md-устройств */
    .cat {
        height: border-box;
        display: grid;
        grid-template-areas:
    "cat";
        position: relative;
    }

    .like {
        grid-area: cat;
        text-align: right;
        position: absolute;
        margin: 1.5vw;
        bottom: 0;
        right: 0;
    }

    .like img {
        width: 3vw;
        height: 3vw;
    }

    .like img:hover {
        cursor: pointer;
    }

    .common {
        grid-area: cat;
        height: 100%;
        width: 100%;
        max-width: 20vw;
        position: relative;
        max-height: 35vh;
        object-fit: fill;
        transform: scale(0.9);
    }

    .active {
        -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 1);
        -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 1);
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 1);
        grid-area: cat;
        height: 100%;
        width: 100%;
        max-width: 20vw;
        position: relative;
        max-height: 35vh;
        object-fit: fill;
        transform: scale(1.05);
    }
}

@media (min-width: 1200px) {
    /* стили для lg-устройств */
    .cat {
        height: border-box;
        display: grid;
        grid-template-areas:
    "cat";
        position: relative;
    }

    .like {
        grid-area: cat;
        text-align: right;
        position: absolute;
        margin: 0.5vw;
        bottom: 0;
        right: 0;
    }

    .like img {
        width: 3vw;
        height: 3vw;
    }

    .like img:hover {
        cursor: pointer;
    }

    .common {
        grid-area: cat;
        height: 100%;
        width: 100%;
        max-width: 20vw;
        position: relative;
        max-height: 35vh;
        object-fit: fill;
        transform: scale(0.9);
    }

    .active {
        -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 1);
        -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 1);
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 1);
        grid-area: cat;
        height: 100%;
        width: 100%;
        max-width: 20vw;
        position: relative;
        max-height: 35vh;
        object-fit: fill;
        transform: scale(1.05);
    }
}

