.navbarWrapper {
    grid-area: navbar;
    background-color: #2196F3;
    -webkit-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    vertical-align: middle;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav {
    margin: auto ;
    padding: 3vh 4vw 3vh 4vw;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 3vh 4vw 3vh 4vw;
}

.activeLink {
    background-color: #1E88E5;
}
